.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: scale(50%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  padding: 30px;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #272727;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-lazy-preloader {
  border: 4px solid #5578b9 !important;
}
