.footer-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 0px 5px 0px;

  background: rgba(0, 0, 0, 0.5);
}

.footer-copy {
  height: fit-content;
  font-size: 16px;
  width: fit-content;
}

.pipe-spacers {
  display: none;
  width: fit-content;
}

@media only screen and (min-width: 575px) {
  .footer-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px 15px 0px;
  }

  .pipe-spacers {
    display: block;
    margin: 0% 2% 0% 2%;
    font-size: 16px;
  }
}