.footer-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.footer-background.gallery-styling {
  position: relative;
  margin-top: 5px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px 0px 10px 0px;
  text-decoration: none;
}

.footer-copy {
  font-size: clamp(10px, 4.2vw, 16px);
}

.pipe-spacers {
  display: none;
  width: fit-content;
}

.footer-copy, .pipe-spacers {
  font-family: 'Copperplate';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (min-width: 675px) {
  .footer-background.gallery-styling {
    margin-top: 15px;
  }

  .footer-address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 10px 15px 10px;
  }

  .pipe-spacers {
    display: initial;
    margin: 0% 2% 0% 2%;
    font-size: 16px;
  }

  .footer-copy {
    font-size: clamp(16px, 1.75vw, 22px);
  }
}