.rotate-message-container {
  height: fit-content;
  width: 100vw;
  top: 87px;
  position: absolute;
  z-index: 2;

  font-size: 12px;
  text-shadow: 2px 2px 4px black;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.gallery-spacer {
  height: 105px;
}

.gallery-swiper {
  width: 85vw;
  height: calc((var(--vh, 1vh) * 100) - 135px);
  margin: 0vh auto 0vh auto;
  box-shadow: 1px 1px 11px 1px #000000c9;
  border-radius: 5px;
}

.section-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  z-index: 1;

  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

/* All landscape gallery */

@media only screen and (orientation: landscape) {
  .rotate-message-container,
  .section-title-container {
    display: none;
  }
}

/* Desktop / tablet landscape gallery */

@media only screen and (min-width: 950px) and (orientation: landscape) {
  .gallery-swiper {
    height: calc((var(--vh, 1vh) * 100) - 105px);
  }

  .rotate-message-container {
    display: none;
  }
}

/* Tablet portrait gallery */

@media only screen and (min-width: 500px) and (orientation: portrait) {
  .rotate-message-container {
    font-size: 18px;
    top: 105px;
  }

  .gallery-swiper {
    height: calc((var(--vh, 1vh) * 100) - 175px);
  }

  .gallery-spacer {
    height: 130px;
  }

  .section-title-container {
    margin-bottom: 5px;
    font-size: 24px;
  }
}

/* Mobile landscape gallery */

@media only screen and (max-width: 949px) and (orientation: landscape) {
  .gallery {
    top: 35px;
  }

  .gallery-spacer {
    display: none;
  }
  .gallery-swiper {
    height: calc((var(--vh, 1vh) * 100));
  }
}
