*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  /* Removed to try to address deployed galleries bleeding below
  viewport on deployed version, no issue on local */
  /* max-width: calc(var(--vw, 1vw) * 100);
  max-height: calc(var(--vh, 1vh) * 100); */
  overflow-x: hidden;
  background-color: #272727;
}

h1 {
  font-family: "Copperplate";
  font-style: normal;
  font-weight: 700;
  text-align: center;

  color: #ffffff;
}

h2 {
  font-family: "Copperplate";
  font-style: normal;
  font-weight: 500;
  text-align: center;

  color: #ffffff;
}

h3 {
font-family: 'Copperplate';
font-style: normal;
font-weight: 400;
text-align: center;

color: #FFFFFF;
}

p {
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}