.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #272727;
}

.gallery {
  position: 'relative';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.link {
  position: relative;
  color: aqua;
  font-size: 2rem;
  z-index: 1;
}
