.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #272727;
}

.gallery {
  position: "relative";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.link {
  position: relative;
  color: aqua;
  font-size: 2rem;
  z-index: 1;
}

.nav-background {
  position: absolute;
  width: 100vw;
  height: 85px;
  left: 0px;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.site-title {
  /* position: absolute; */
  width: 179px;
  height: 46px;
  margin: 0px 0px 0px 20px;
  /* left: 19px;
  top: 14px; */
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  margin: 0px 20px 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.line1 {
  width: 35px;
  height: 0px;

  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 2;
}

.line2 {
  width: 35px;
  height: 0px;

  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 2;
}

.line3 {
  width: 35px;
  height: 0px;

  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 2;
}
