.background-image-container {
  position: fixed;
  z-index: 1;
}

.gallery-background-img {
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
  position: relative;
  object-fit: cover;
  z-index: 1;
  opacity: 50%;
  filter: blur(1px);
}
/* Not sure why I had this? */
/* @media only screen and (max-width: 949px) and (orientation: landscape) {
  .gallery-background-img {
    opacity: 90%;
  }
} */