.background-image-container {
  position: fixed;
  z-index: 1;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

.gallery-background-img {
  position: relative;
  object-fit: cover;
  z-index: 1;
  opacity: 50%;
  filter: blur(1px);
}
