.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
  position: relative;
  background-color: #272727;
}

.rotate-message-container {
  height: fit-content;
  width: 100vw;
  top: 87px;
  position: absolute;
  z-index: 2;

  font-size: 12px;
  text-shadow: 2px 2px 4px black;
}

.gallery-background-img {
  height: 100vh;
  width: 100vw;
  position: relative;
  object-fit: cover;
  z-index: 1;
  opacity: 50%;
  filter: blur(1px);
}

.background-image-container {
  position: fixed;
  z-index: 1;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.gallery-spacer {
  height: 105px;
}

.gallery-swiper {
  width: 85vw;
  height: calc((var(--vh, 1vh) * 100) - 135px);
  margin: 0vh auto 0vh auto;
  box-shadow: 1px 1px 11px 1px #000000c9;
}

.section-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  z-index: 1;

  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

/* All landscape gallery */

@media only screen and (orientation: landscape) {
  .rotate-message-container,
  .section-title-container {
    display: none;
  }
}

/* Desktop / tablet landscape gallery */

@media only screen and (min-width: 950px) {
  .gallery-swiper {
    height: calc((var(--vh, 1vh) * 100) - 105px);
  }
}

/* Tablet gallery */

@media only screen and (min-width: 500px) and (max-width: 949px) {
  .rotate-message-container {
    font-size: 18px;
    top: 90px;
  }

  .gallery-swiper {
    height: calc((var(--vh, 1vh) * 100) - 160px);
  }

  .section-title-container {
    margin-bottom: 5px;
    font-size: 24px;
  }
}

/* Mobile landscape gallery */

@media only screen and (max-width: 949px) and (orientation: landscape) {
  .main {
    display: block;
  }

  .gallery {
    height: 100vh;
  }

  .gallery-spacer {
    display: none;
  }

  .gallery-background-img {
    opacity: 90%;
  }
}
