.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
  position: relative;
  background-color: #272727;
}

.rotate-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: auto;
  top: 67px;
  position: relative;
  z-index: 2;
}

.rotate-message {
  font-size: 1rem;
  text-shadow: 2px 2px 4px black;
  color: #ffffff45;
}

.gallery-background-img {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  object-fit: cover;
  opacity: 80%;
  filter: blur(1px);
}

.background-image-container {
  position: fixed;
  z-index: 1;
}

.section-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: auto;
  margin: 1vh 0vw 0vh 0vw;
  position: relative;
  z-index: 1;

  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

@media only screen and (orientation: landscape) {

  .main {
    display: block;
  }

  .rotate-message-container, .section-title-container {
    display: none;
  }
}
